@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}
main.container-fluid {
    width: 50%;
}

p, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img.dibley {
    max-width: 100%
}

.wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px 100px 100px;

    .box1 {
        background-color: #E50000;
        color: white;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .box2 {
        background-color: #FF8D00;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .box3 {
        background-color: #FFEE00;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
    }
    .box4 {
        background-color: #028121;
        grid-column-start: 2;
        grid-row-start: 3;
    }
    .box5 {
        background-color: #004CFF;
        color: white;
        grid-column-start: 3;
        grid-row-start: 3;
    }
    .box6 {
        background-color: #770088;
        color: white;
        grid-column-start: 1;
        grid-column-end: 4;
    }
}
.wrapper > * {
    padding: 5px;
    justify-content: center;
  }
.carousel-caption {
    background-color: rgba(0, 0, 0, .25);
}